[2014-01-23 02:35] ajfisher opened #3 "Models not building because they are undefined"
I'm trying to load a fixture into a sequelize object. It's very simple, a User model with a bunch of very basic string attributes. I'm not doing any associations or anything wacky there, simply trying to load one user at this point.

So my fixture looks like:

[code]

When I go to load this fixture I'm getting a "cannot read "firstname" of Undefined" error. This is being thrown on Line 75 of loade

[2014-01-28 05:03] #3 closed, assigned to nobody

[2014-02-08 03:01] RichAyotte opened #5 "Grunt files compatibility"
The current version of Grunt expects `filesSrc` instead of `files`.

[code]

I think the only changes needed are in the fixtures.js file and the docs.

[code]

[2014-03-04 21:28] lucasmilin opened #6 "Fixture Many-to-many"
Hi,

is possible to create a fixture for a table provided by a Many-to-many association ?

[2014-03-22 13:09] #5 closed, assigned to nobody

[2014-04-12 10:19] #6 closed, assigned to nobody

[2014-05-13 15:37] dgmike opened #9 "options to fixture"
I my case I want to manipulate `createdAt` and `updatedAt` values but for some reaction this is only possible when I do:

[code]

In sequelize-fixtures the line just do an build and magically these fields are filled :stuck_out_tongue:

Maybe, if pass in `.json` file/array the options aka:

[code]

[2014-05-17 09:08] #9 closed, assigned to nobody

[2014-05-17 23:48] dgmike opened #12 "Document "transformFixtureDataFn" option"
This feature is very usefully, but it's not documented. cffbfb1

[2014-05-18 00:01] dgmike opened #13 "Create observer transformData"
Like the option `transformFixtureDataFn` but passed as observers of `sequelize-fixtures`.

[code]

So, with this option it's possible to create other packages that extend this package :smile:.

[2014-08-12 21:04] JackNeto opened #14 "Better error reporting"
If you try to load a fixture that doesn't pass validations an exception is thrown without the error description

Check it out here:
https://github.com/domasx2/sequelize-fixtures/blob/master/lib/loader.js#L34

If you remove `JSON.stringify` from line 34 and just pass the `err` object then I'll be able to log that on the console and solve the problem.

[2014-08-30 09:27] #14 closed, assigned to nobody

[2014-08-30 09:27] #12 closed, assigned to nobody

[2014-09-08 06:24] burakkilic opened #16 "Data was not loaded"
Hi;

My data is:

[code]

And code is:

[code]

I see the fixtures loaded log, but there is no data in the db. Where am I wrong?

[2014-09-21 08:45] #16 closed, assigned to nobody

[2014-09-22 17:04] mlegenhausen opened #17 "Replace callback style with promise"
The sequelize api uses all the way promises. I think this library should too cause it is used with sequelize.

[2014-09-26 08:15] #17 closed, assigned to nobody

[2014-10-30 14:30] nextor2k opened #19 "is it possible to make updates with fixtures?"
As the title says. I'm trying to update a record, but the rule of fixture makes him fetch the data that I am wanting to update. So finding no record to make an update. How do I tell which fields it must fetch and what it should perform the update?

{
    "model": "Project",
    "buildOptions": {
      "isNewRecord": false
    },
    "saveOptions": {
      "fields": ["personId"]
    },
    "data":

[2014-11-03 14:22] #19 closed, assigned to nobody

[2014-11-04 14:40] iamblue opened #20 "/lib/loader.js line47 has boolean problem"
If my db schema has a boolean attribute and this attribute value is false, it can not pass this line.
I suggest we can change ' if (data[k]) ' to if (data.hasOwnProperty[k]) to solve this problem .

[2014-11-05 15:44] #20 closed, assigned to nobody

[2014-12-07 13:21] lvarayut opened #22 "Warning: Cannot find module"
I'm trying to use grunt to import data-fixtures. However, I always got `Warning: Cannot find module`. Actually, I'm not quite sure what should I put in the `models`. Any help would be appreciated.

[code]

[2014-12-18 05:39] #22 closed, assigned to nobody

[2014-12-23 17:00] ekmartin opened #23 "Return Bluebird-promise instead of using callbacks"
To be consistent with the rest of Sequelize it'd be nice if loadFile returned a Promise instead of using a callback.

[2015-01-01 23:53] bradisbell opened #25 "Association documentation model case sensitivity issue"
The documentation for association seems to be incorrect.  This is what is in the readme:

[code]

`owner` should really be `Owner` to match the model name.

[code]

[2015-02-03 01:48] dmur commented on #16
I'm having the same issue.  loadFile callback gets called, but no inserts, and the db is empty.  Adding the absolute path didn't resolve.

[2015-02-06 10:37] JuSKT opened #26 "Does it support other associations?"
Hey,

Thanks for your work.

Does your library support other associations than the two ones of your readme?

See : http://sequelize.readthedocs.org/en/latest/api/associations/

Thanks.

[2015-02-07 17:42] rodrigogoncalves commented on #26
Apparently not. Look at: https://github.com/domasx2/sequelize-fixtures/blob/master/lib/loader.js#L140

I am having a hard time trying to figure out how to load associations using this library.

[2015-02-08 11:34] #23 closed

[2015-02-08 11:50] domasx2 commented on #25
Hi, this is deliberate due to naming conventions used.

I use camel-case for class (and model) names in javascript, so it's models.Owner,
but lowercase underscored table names in the databse, so owner model would be defined as:

[code]

Keys in the data object map to propeprty keys on the sequelize entity, wether explicitly defined or created by sequelize to hold associations.  The association pro

[2015-02-08 11:55] domasx2 commented on #26
Hi,
Which association type are you missing specifically?

[2015-02-09 09:10] Proxiweb opened #27 "dump fixtures"
Hello,

Thanks for this lib, very useful. Is there any plan for a dump fixture feature ?

[2015-02-09 14:04] JuSKT commented on #26
Hi,

Thanks for your responses.

@domasx2 I have some belongsToMany

[2015-02-09 14:53] domasx2 commented on #27
Hi, currently no plan, sorry. Dumping is likely a more complicated affair than loading. I'm currently not using this lib myself, so have little motivation to spend significant time on it. But pull requests are very welcome

[2015-02-19 17:23] grabbou commented on #26
Yep, 2x many to many is deprecated now.

[2015-02-22 10:25] domasx2 commented on #26
added basic support for Belongs2Many.
what's missing is support for setting extra values to join table

[2015-03-26 19:29] nford opened #28 "Insert fails when select succeeds even with no unique constraint"
I can understand if a duplicate record is not inserted when there is a unique constraint, but when I try to load fixtures with two identical records (an accident) the second is not inserted though as far as I can tell there is no reason it shouldn't be. Bug or feature?

v.0.4.0

[2015-03-26 19:36] domasx2 commented on #28
Hi! It's a feature. "Duplicate records are not insertd." it says, with a glorious typo, at the top of readme :)

[2015-03-26 19:36] #28 closed

[2015-03-26 19:48] nford commented on #28
May I ask the rationale behind this? Is that not the purpose of a unique constraint?

[2015-03-27 07:16] domasx2 commented on #28
My original use case for this library was to load data for automated tests. Each test case had list of fixtures it depends upon, and these fixtures ocasionally contained some identical data. There was no requirement for the records to be unique in the business logic. I didn't want duplicate records while running tets and this is my solution.

I'm sure there exist valid use cases for identical reco

[2015-04-22 12:42] grabbou commented on #26
Finally! Thanks.

[2015-05-20 06:50] #25 closed

[2015-05-20 06:50] domasx2 opened #31 "set up travis CI"

[2015-05-20 18:53] #26 closed

[2015-05-22 11:20] #31 closed

[2015-05-28 14:28] Sk1Zy opened #32 "Error with belongsToMany"
Hi

I'm having a problem since i updated sequelize to version 3.1.1. I also updated sequelize-fixtures to the latest version (0.4.3).

I have two tables with these associations
[code]

And i have these fixtures
[code]
Now I'm using this with a in-memory sqlite database.

I have it set so it drops the database and recreates it before each test. The database gets created correctly and the associatio

[2015-05-28 14:46] domasx2 commented on #32
Hi,

I think the problem is that sequelize-fixtures assumes that models have primary key attribute named 'id' when trying to find associated entities: https://github.com/domasx2/sequelize-fixtures/blob/master/lib/loader.js#L105

This can be fixed by inspecting dao for the primary key attribute name, I'll update soon. Thanks for the report!

You can work around this by explicitly providing the colu

[2015-05-28 14:53] Sk1Zy commented on #32
Worked like a charm. Thanks :+1:

[2015-05-31 10:55] #32 closed

[2015-06-25 13:57] yagop opened #34 "Save on Sequelize 1.7.10"
I am using Sequelize 1.7.10, seems on that version if `Model.build()` second param is called with an Object it does an UPDATE even if there is no data on Database. I fixed changing line [17 of loader.js](https://github.com/domasx2/sequelize-fixtures/blob/master/lib/loader.js#L16). Also happens with 1.7.0.

[code]

Could be changed?

[2015-07-17 13:08] domasx2 opened #36 "grunt task reports number of fixutres loaded as 'undefined'"

[2015-07-17 14:31] #36 closed

[2015-07-17 14:32] domasx2 commented on #34
done

[2015-07-17 14:32] #34 closed

[2015-09-03 09:25] domasx2 opened #37 "handle json fields correctly"

[2015-09-07 04:01] ameensol opened #38 "findById not found on model instances"
Hello, great work on this lib. It's saved me a great deal of time!

Today I noticed that I was getting an error deep in ``loader.js``. The error was:
[code]

My sequelize version is 2.1.3, and from isolated testing it seems that models no longer have a ``findById`` method. Unfortunately this breaks ``sequelize-fixtures``.

[2015-09-07 04:05] ameensol commented on #38
Wrote a pull-request https://github.com/domasx2/sequelize-fixtures/pull/39

[2015-09-07 06:23] domasx2 commented on #38
Thamks, I'll look into this. Have to see if there's a way to set up tests for older versions too..

[2015-09-07 10:17] domasx2 commented on #38
btw, models don't have 'findById' for you because your sequelize version is too old, not too new. Updating sequelize to latest version would fix this for you

[2015-09-23 15:18] diosney opened #41 "question: Is this recommended to feed DB with some initial data?"
As title says.

[2015-09-23 15:57] domasx2 commented on #41
Sure, why not

[2015-09-23 16:09] diosney commented on #41
For instance, how this relate to migrations? Do you recommend using this module over inserting the initial data with migrations? Or do  you recommended it only for testing and development purposes?

My main concern is regarding initial data that can change after the initial deployment, for instance, if the primary keys change.

Thanks

[2015-09-23 16:29] domasx2 commented on #41
This is a utility that makes it easier to prepare some data and insert it. It is not mutually exclusive with sequelize migrations mechanism, which primarly deals with modifying db schema, not data.
You can use sequelize-fixtures inside a migration to insert initial data. Or you can just prepare a separate script or grunt/gulp task that inserts the data and run it manually on first deployment.

I d

[2015-09-23 16:40] diosney commented on #41
OK, thanks!

[2015-09-23 16:40] #41 closed

[2015-09-27 08:38] domasx2 commented on #38
merged https://github.com/domasx2/sequelize-fixtures/pull/40

[2015-09-27 08:38] #38 closed

[2015-09-27 09:36] domasx2 commented on #37
On testing it seems that sequelize handles json fields correctly on postgres without any changes. Why are people having a problem then? Maybe using JSON sequelize datatype with mysql/sqlite

[2015-09-27 09:47] domasx2 commented on #37
if anyone has a problem with JSON, please let me know

[2015-10-05 17:15] zxqfox commented on #37
Have troubles with sqlite

[2015-10-05 17:16] domasx2 commented on #37
i think sqlite does not support json fields, its postgres only

[2015-10-05 17:22] zxqfox commented on #37
Well, yes, but this exception comes when I trying to load something to json field. Like it trying to retrieve what it stores and where statement becomes unreadable for sqlite:
[code]

It puts data correctly (as I see), but crashes on fetch.

[2015-10-05 17:25] domasx2 commented on #37
looks like sequelize generates invalid sql for sqlite in this case. Then technically it's a sequelize problem, not sequelize-fixtures

[2015-10-05 17:26] zxqfox commented on #37
Looks like ;-( Need to file issue there. I don't have much info about the problem. Seems like as well as you are? ;-D

[2015-10-05 17:35] zxqfox commented on #37
As a workaround: We can declare `keys` (https://github.com/domasx2/sequelize-fixtures#detect-duplicates-based-on-select-fields) explicitly to prevent filtering on json fields.

[2015-10-14 04:24] zxqfox opened #43 "Why not to use bulkCreate?"
Just notices that fixtures doesn't use bulkCreate.

Is it hard or there is another problem?

[2015-10-14 06:43] domasx2 commented on #43
Currently entities are loaded in sequence as defined in the fixture  files to make sure that related entities are loaded first and relationships setup correctly. That would be harder to do if using bulk create I think

[2015-10-14 06:48] zxqfox commented on #43
Only if there are structures like trees or graphs. You can't insert entities into few tables in a step. As I can see it: we can just squash sequential entities for the same model into a pack and if model changed — push the pack into db with bulkCreate. Not so harder. Thoughts?

[2015-10-14 06:54] domasx2 commented on #43
Could work I guess :) The whole thing could use a rewrite actually, has become messy with many updates and features. But unfortunately I don't use this for any current projects at the time, so have low motivation to do it

[2015-10-26 23:41] scandox commented on #37
+1 for this workaround.

[2015-11-09 10:06] Olgagr opened #44 "Data are not loaded"
I have the same problem as described here: https://github.com/domasx2/sequelize-fixtures/issues/16. However changing path to absolute doesn't help. My fixtures files are in test/fixtures/categories.json file. I load them:

[code]

No errors on database, no errors in console. I get message from plugin:

[code]

What I found is that the problem is in reader module, readFile method. fs.readFileAsync

[2015-11-09 11:07] #44 closed

[2016-01-02 21:19] captainill opened #45 "jsonb datatype error"
I'm not sure of the support for jsonb because it doesn't look to be mentioned or in any tests. Can anyone comment or provide an example?

I'm trying to use

[code]

I'm getting `Unhandled rejection TypeError: undefined is not a function`. I'm new to using sequelize and sequelize-fixtures tho.

[2016-01-18 15:34] moxious opened #46 "How to set data on a join table embodying an N:M relationship?"
In sequelize it's possible to define an n:m relationship, but then define properties on that relationship with a third model [seen here](http://docs.sequelizejs.com/en/latest/api/associations/belongs-to-many/).

I have a setup like that; I'm using `sequelize-fixtures` to load data into both sides of the relationship, but I don't see in the docs how to put data **on** the relationship.   In the seq

[2016-01-18 15:46] domasx2 commented on #46
Hi,
I'm afraid sequelize-fixtures does not currently support setting data on a through table for N:M. A pull request is welcome though

[2016-01-18 15:49] moxious commented on #46
I'll consider diving into the code and giving it a go.  There seem to be some gotchas I've read about how to load this data even when you're using the pure JS api for sequelize, but it seems basically doable.

Any general guidance on what syntax in the fixtures files would be reasonable to use to trigger this behavior?  Is my example above (with the doubly-nested "data") in the territory of reason

[2016-01-18 15:59] domasx2 commented on #46
I think there's an error in your example, settings m2m entries is done via plural of the related entity. So for a Project instance you'll want to set it's user list by providing a 'users' data property.

For setting extra data on the rel table my first thought is to add a special 'rel_data' property, like so:

[code]

[2016-01-18 16:55] #46 closed

[2016-01-21 08:54] domasx2 commented on #45
Hi, yeah, haven't really tested this :) try providing content as a string maybe?

[2016-02-05 01:11] captainill commented on #45
Hiya, providing the content as a string works but then I get a string out which isn't desired since it adds the extra step of needing to be parsed as opposed to returning a javascript object.

[2016-02-15 07:12] Ltty opened #49 "Seed join tables with additional attributes?"
How do you actually seed join tables with additional attributes?

Please see http://stackoverflow.com/questions/35356987/how-to-handle-additional-attributes-in-join-tables-with-sequelize-fixtures for a detailed description

Thanks,
Florian

[2016-02-15 07:55] domasx2 commented on #49
Hi,
Unfortunately this isn't implemented in sequelize-fixtures. A pull request is welcome though!

[2016-03-14 11:15] MugeSo opened #51 "Fail loading JSONB with array property"
[code]

Then got
[code]

See also https://github.com/sequelize/sequelize/issues/5582

[2016-03-20 07:36] MugeSo commented on #51
Maybe, this can be fixed by https://github.com/meetearnest/sequelize-fixtures/commit/d6cf0ca14210a9da4d7e98a1115c509c65179258

[2016-03-20 07:43] domasx2 commented on #51
which sequelize version are you on?

[2016-03-20 07:54] MugeSo commented on #51
3.19.3

[2016-03-23 19:19] domasx2 commented on #51
Added a workaround with https://github.com/domasx2/sequelize-fixtures/issues/51

This is really a sequelize issue though...

[2016-03-23 19:19] #51 closed

[2016-03-23 19:20] domasx2 commented on #45
I've added a small fix for jsonb and tested today, works fine (postgres only, of course)

[2016-03-23 19:20] #45 closed

[2016-03-24 02:27] MugeSo commented on #51
@domasx2  thanks a lot!

[2016-04-04 14:10] Ltty commented on #49
Hi,
it took me some time to implement, but I created a pull request that can handle additional attributes for many 2 many relations. Would be happy to see the changes published so I can use it through npm.

[2016-04-17 09:42] domasx2 commented on #49
now implemented

[2016-04-17 09:42] #49 closed

[2016-04-23 16:07] lawli3t opened #54 "Cannot load Fixture"
I am currently trying to load a json file into my database, but get a strange error.

[code]

seed_db.js
[code]

sampledata.json
[code]

Cant make any sense of it. Tried pinpointing the locations of the problem in the source code, but havent got a single clue what could even be causing this. any help greatly appreciated!

[2016-04-24 07:35] domasx2 commented on #54
hi,

In data a model is referenced as  `LinkedServices`, but its actually named `LinkedService`

Could provide a better error message for these cases, will update

[2016-04-25 12:55] lawli3t commented on #54
The same error still persists when I change the line to:

[2016-05-14 22:39] lstanard commented on #54
Hey @lawli3t, I'm currently having this same issue. Can you provide more insight into how you got this working? I have my test data setup with module.exports, but how did you import it? Thanks!

[2016-05-15 14:15] lawli3t commented on #54
here is my snippet on importing it:

[code]

[2016-05-15 23:19] arnaudbesnier opened #55 "Why does the fixture loading change the database the foreign keys "on delete" setting?"
My freshly created test database contains on delete "CASCADE" option for all the foreign keys.

As soon as I populate the database with my fixtures using sequelize-fixtures, I observe that some foreign keys change their on delete "CASCADE" to on delete "Set NULL".
It creates issues for my tests because this is not the perfect copy of my dev/staging/production database configuration.

It really occ

[2016-05-15 23:24] arnaudbesnier commented on #55
For some foreign keys, adding
`Model1.hasMany(models.model2, { onDelete: 'cascade' })` in the definition of the model fixes the issue, but sometimes it doesn't...

[2016-05-16 06:21] domasx2 commented on #55
Hey,

Sequelize-fixtures does not alter schema, something else is going on with your setup. Perhaps you're calling sequelize.sync() somewhere?

Try logging sql queries and see what's going on

[2016-05-16 11:54] rapvelopment opened #56 "Loading fixtures with foreign keys"
Hi,

I have been trying to use sequelize-fixtures to build a database that includes foreign keys, but when I do, I get the following error

 [TypeError: Object #<Object> has no method 'replace'].

The main code db-create.js is

[code]

index.js is:

[code]

UserType.js is:

[code]

and User.js is:

[code]

The data, constants.json, is

[code]

Any help or suggestions would be appreciated!

[2016-05-16 16:28] domasx2 commented on #56
hi, can you paste the stack trace?

[2016-05-16 22:05] kenydub commented on #56
[code]

[2016-05-17 06:00] domasx2 commented on #56
The problem is: On User model, accessor for UserType relation is 'UserType', so you should use that to assign UserType to User, example below.
 'fk_user_type' is the foreign key column on the users table.  You can also use it I think, but it will only accept an integer (id of a UserType row).

[code]

I've been meaning to work on validating data and providing nicer warnings/errors, will try to get

[2016-05-17 10:52] kenydub commented on #56
Thanks. If I remove the foreign key and not null constraints, everything works but the foreign key `user_type_id` column in table `users` is not populated.

If I remove the foreign key definitions from index.js but leave the not null restriction, I get the following error:
[code]

[2016-05-17 11:51] arnaudbesnier commented on #55
Yes you're right, that was because of a `sequelize.sync()`...
Thank you! (and sorry for the stupid question)

[2016-05-17 11:51] #55 closed

[2016-06-08 14:21] sublet commented on #54
I'm having the same issue.  I even dumbed it down to just use a fixture that is a variable and I am still getting the `Unhandled rejection TypeError: Cannot convert undefined or null to object` error.

Any help would be greatly appreciated.

`'use strict';

var sequelize_fixtures = require('sequelize-fixtures'),
    models = {
      Foo: require("../src/models/foo")
    };

var fixtures = [
  {

[2016-06-08 18:07] domasx2 commented on #54
It finally dawned on me :)

You're passing a model factory function rather than a model.
[code]

Instead you should import  `models/foo` using `sequelize.import()`. See official example: https://github.com/sequelize/express-example/blob/master/models/index.js#L17

And your sequelize_fixtures call should look like this:

[code]

I released a tiny update with https://github.com/domasx2/sequelize-fix

[2016-06-08 18:07] #54 closed

[2016-06-08 18:13] domasx2 commented on #54
realised readme was kinda misleading too, updated

[2016-06-21 16:59] nedrocks opened #57 "Loader does not take any actions within `Model.set` into account"
Currently I am trying to load a model which has a Sequelize.TEXT field that stores a serialized JSON blob. Doing this outside of Postgres, I need to do the serialization / parsing within the model `set` and `get` commands. Currently sequelize-fixtures loader doesn't account for these set methods which forces the system to try and sanitize an object as though it were a string, giving me this error:

[2016-07-08 17:45] jblaketc opened #59 "Old glob version is causing a deprecated warning"
I just ran into this today so I think it just started happening. The glob version used in this project is using minimatch 0.3.0 which I guess has a huge flaw in it so they're throwing a deprecated warning to tell people to upgrade to minimatch 3.0.0 or higher.

Looks like newest glob is using the appropriate version of minimatch, so if you upgrade the glob dependency version in this project, it sh

[2016-07-08 19:11] domasx2 commented on #59
Thanks, ill look into it

[2016-07-09 10:21] #59 closed

[2016-08-13 13:58] php-workx commented on #37
could you please support `sequelize-json` ( https://github.com/Growmies/sequelize-json ) or in general provide a better support for plugins which add hooks to the model instances?

[2016-08-18 10:30] yciabaud opened #62 "belongsToMany association uses the plural form of the table on findOne"
Hello, I have an issue creating a many to many association with fixtures.
In [lib/loader.js#L191](https://github.com/domasx2/sequelize-fixtures/blob/master/lib/loader.js#L191), `assoc.target.findOne` is using the plural form of the Team table and therefore the request fails because it cannot find the table.

I don't understand if my model is wrong or if it is an issue in this project.

Can you hel

[2016-08-30 02:33] kithokit commented on #62
i am not able to populate the m2m fixtures too

[2016-09-01 20:27] jorbascrumps opened #63 "Importing data with nested association"
I'm trying to write an import script for normalized address data with the following setup:

[code]

And below is a sample of the data I'm trying to import:

**Region import data:**

| ID | Region |
| --- | --- |
| 1 | England |

**City import data:**

| ID | City |
| --- | --- |
| 1 | London |

**Address import data:**

| ID | Owner | Address | City | Region |
| --- | --- | --- | --- | --- |
| 1 |

[2016-09-22 20:10] krzkaczor opened #64 "Create tables by default"
Hey,
I run into `Unhandled rejection SequelizeDatabaseError: relation "x" does not exist` exception.  The problem was that table with data wasn't created at all.

It would be nice if `sequlize-fixure` could check it and do something like `models.sequelize.sync()` when necessary.

[2016-09-23 06:46] domasx2 commented on #64
Hi, I think this is out of scope for this lib and would be unexpected. It's easy to manually call sync() if you have to

[2016-09-23 06:46] #64 closed

[2016-10-10 18:35] domasx2 commented on #37
set() is now supported with https://github.com/domasx2/sequelize-fixtures/commit/844fc5ecc93a774c7b10ebf5a96b807e4aa546c5, sequelize-json shouldwork

[2016-10-10 18:35] #37 closed

[2016-10-10 18:38] domasx2 commented on #63
Haven't encountered this before. I think the only decent solution right now is to specify IDs for the cities and use those

[2016-10-10 18:40] domasx2 commented on #13
closing, don't think this will happen

[2016-10-10 18:40] #13 closed

[2016-10-25 08:50] julestruong opened #67 "Request: how can i loadFixtures without running hooks"

[2016-10-25 10:37] domasx2 commented on #67
Hey,

I don't know, don't see in sequelize docs any way to disable hooks..

[2016-11-08 00:43] pater24 opened #68 "loadFixtures with JSON column types not JSONB"
https://github.com/domasx2/sequelize-fixtures/blob/master/lib/loader.js#L76

Is there a way to not use these columns in the where object? Or is there a better way to use regular json columns?

[2017-01-16 14:58] justin-calleja opened #71 "sequence tables are not updated when manually setting autoincrement ids"
It seems like manually setting columns which are autoincremented by db results in the db not updating any sequences it uses to track autoincrementing.

The result of this is that, if you now try to create any test data leaving 'DEFAULT' (empty) for autoincremented fields like PKs, an exception will be thrown if you manually created id 1 and db's sequence is at 0 incrementing by 1 (as it will try t

[2017-01-16 15:28] justin-calleja commented on #71
tmp work-around:

[code]

[2017-01-21 13:21] georgeedwards commented on #56
@domasx2  I think I am facing the same issue...

**models/cell.ts**
[code]

**models/site.ts**

[code]
**data.json**
[code]

however the `SiteId` property causes the following error:

[0] Unhandled rejection TypeError: val.replace is not a function

[2017-01-22 15:14] georgeedwards opened #72 "Disable Console.log"
I am using this fixture to aid my unit testing. However, I get logs like:

Which affect my test output log, is it possible to disable this?

[2017-02-03 01:00] thegroke commented on #72
add

log: function() {}

to the options.

[2017-02-03 09:49] #72 closed

[2017-02-14 11:40] didnotwant commented on #71
Exactly the same problem here. @justin-calleja – did you find any better solution for that?

[2017-02-14 11:49] justin-calleja commented on #71
@didnotwant , I reverted back to inserting the fixture data "by hand" without using sequelize-fixtures.

Had started a project to get around this but stopped developing it. The idea was to create a [dependency graph](https://en.wikipedia.org/wiki/Dependency_graph) (directed acyclic graph) out of fixture data, traverse graph with [toposort](https://github.com/marcelklehr/toposort) such that you alw

[2017-02-14 23:17] skinofstars opened #73 "attribute "foo' not defined on model 'Bar'. warning, despite transformFixtureDataFn"
Hey, non breaking bug here.

I'm using a dummy data value so I can know when to load in a default model. However, even if I delete the key, it's still returning the error:

`attribute "factory' not defined on  model 'Foo'.` warning, despite using `transformFixtureDataFn` to remove it.

i.e.
[code]
[code]

So, like, I don't really think it should even care about extra values.

Otherwise, it's non-b

[2017-02-20 09:00] oliverbenns commented on #3
I had a similar issue recently that I spent way too much time on. This is due to the way babel exports work. In short, I had to revert to `module.exports` as opposed to `export default` for my fixtures.

[2017-05-18 16:36] rostislavprovodenko commented on #71
@justin-calleja do you know why sequelize-fixtures does this? I don't see anywhere in its code where it'd change sequelize or the database settings

[2017-05-18 18:31] justin-calleja commented on #71
@rostislavprovodenko I'm not sure I understand what you're asking. sequelize-fixtures just inserts the data *as is*. If that data is meant to be auto-incremented by db... there will be problems as the db doesn't know sequelize-fixtures is inserting those.

Turns out we need the auto incremented values when writing fixture data with dependencies on these auto generated values... so .. basically thi

[2017-05-25 13:15] yktv4 commented on #67
@julestruong @domasx2 sequelize has `hooks: false` option available for calls like `.save`, `.create`, etc. you can easily pass this option if you specify `saveOptions` property in your fixture. like that:

[code]

You can also pass any `buildOptions` same way to use them in a `.build` call.

[2017-06-09 21:04] probil commented on #68
It seems like `DataTypes.JSON` is not supported at all

[2017-06-13 13:13] zazoomauro opened #76 "Sequelize 4"
I'm testing `sequelize-fixtures` with `sequelize` version `4`

#### Source code
[code]

#### OUTPUT
[code]

Same piece of code works like a charm with `sequelize` version `3`

[2017-06-13 14:11] iagomelanias commented on #76
Seems like there is a already opened PR fixing this issue. (https://github.com/domasx2/sequelize-fixtures/pull/75)

[2017-06-13 14:12] zazoomauro commented on #76
@iagomelanias true!

[2017-06-13 14:12] #76 closed

[2017-06-21 15:29] aleccool213 commented on #27
@Proxiweb [This](https://github.com/boundstate/sequelize-test-setup) might be what you are looking for.

[2017-08-06 13:52] georgeedwards opened #79 "v4 incompatabiliy - Error: models.User appears to be a function"
I have just upgraded to v4. I am now getting the issue:

Here is an example of the **seed.json** file I am using:

[code]

here is my User model:

[code]
I haven't got much further with my debugging, but it is definitely the test-fixture causing the issue. Aside from that, sequelize seems to be working fine with the model definition.

[2017-08-11 17:45] Sorgrum opened #80 "Array of files not working"
I'm trying to do this
`sequelize_fixtures.loadFile(['fixtures/user.json', 'fixtures/authentication.json'], models).then(() => { ... } `

But it results in the following error:
[code]
I get the same error if I include only one element in the array:
`sequelize_fixtures.loadFile(['fixtures/user.json'], models).then(() => { ... }`

but I don't get an error I load the same file not as an array:
`sequel

[2017-09-11 08:36] lukas1994 commented on #68
has anyone found a solution?

[2017-09-12 16:50] probil commented on #68
@lukas1994 I've changed data type to `JSONB`

[2017-10-05 19:27] sdotson commented on #56
Did you ever figure this issue out? currently troubleshooting the same exact thing.

[2017-11-07 06:37] bschlenk opened #82 "When to use transformFixtureDataFn vs modifyFixtureDataFn"
These two methods look like they are called one after the other, regardless of anything else:
https://github.com/domasx2/sequelize-fixtures/blob/master/lib/loader.js#L135-L143

Is there supposed to be a difference between them? Looking at the code it seems that I could choose either one and it would do the same thing. Maybe one should be deprecated since they both seem to be doing the exact same t

[2017-11-10 23:31] pcsanwald opened #83 "Proposed fix: Fix `through` associations on join tables"
The current problem with adding attributes to join tables is due to the following change in sequelize:

v3:
`group.addUser( alice, { role: 'member' });`

v4:
`group.addUser( alice, { through: { role: 'member' }});`

I've forked the repo, upgraded sequelize, made the required fix. I'm happy to open a PR for this repo, if you are ok with dropping support for sequelize v3. Thoughts?

[2017-11-13 11:14] balexandre commented on #80
Did you try the wildcard?

[code]

[2017-11-16 16:34] sevarubbo commented on #83
Please do!

[2017-11-16 16:54] seahyc commented on #83
Yup, would appreciate it greatly!

[2017-11-28 09:51] hugodes commented on #83
Yes, we're left hanging on our update to v4, please submit a PR.
@pcsanwald could you provide a link to your fork so we can use it on our project in the meantime ?
cheers

[2017-11-28 15:02] pcsanwald commented on #83
Sorry everyone, will submit a PR in a couple hours

Best,

--paul

On Nov 28, 2017, 1:51 AM -0800, Hugo Des <notifications@github.com>, wrote:

[2017-11-28 17:22] pcsanwald commented on #83
@sevarubbo @hugodes @seahyc this is addressed in PR #84

[2017-11-28 19:02] hugodes commented on #83
@domasx2 could you release this with a version bump please ?

[2017-11-28 19:46] domasx2 commented on #83
Done, 0.7.0

[2017-11-28 19:46] #83 closed

[2017-12-06 16:24] Sorgrum commented on #80
The wildcard does work, but the order the fixtures load in matters. Using the wildcard seems to use alphabetical order.

So while the wildcard does work, it doesn't work for my case.
I ended up having multiple calls like this:
[code]

[2017-12-06 19:51] balexandre commented on #80
to solve that problem, I use

[code]

as file names, and I know they will always follow the order I setup to be.

[2017-12-06 21:11] Sorgrum commented on #80
Sure, I personally don't think that's a very elegant way of solving the problem, but regardless the usage docs say this should work:
[code]
and it hadn't been working for me.

[2017-12-06 21:27] balexandre commented on #80
@Sorgrum I do prefer the file editing than edit all the time the function...

:)

[2017-12-06 22:00] Sorgrum commented on #80
Sure, so maybe we should just update the docs to reflect that passing in an array of files isn't a valid way to load fixtures?

[2018-05-01 20:39] Kallaste opened #86 "Duplicate records being inserted"
Hello,

I was under the impression from the docs that duplicates would not be inserted, however, I have a database with identical records being created on each program run. Calling very simply with:

[code]
I'm a C/Java programmer and I'm not very familiar with Node.js or JavaScript, so maybe I am missing something? Sorry if that is the case.

[2018-07-22 04:39] matmar10 opened #88 "Use of instance methods in setter methods breaks import"
Steps to reproduce:

- Define a model with at least one `set` method using any instance method inside (e.g. `this.previous` or `this.setDataValue`).

Actual behavior:
[code]

Expected behavior: instance should be passed instead of the class:
[code]

Example:

[code]

I've worked up a dirty hack fix for this, but suggestions welcome on how to pass a real instance.

[2018-11-08 09:24] funtom48 opened #92 "sequelize deprecated Model.find has been deprecated, please use Model.findOne instead at"
Hello.
sequelize version: "4.41.0"

method find has been deprecated. We need to use the "findOne" or "findByPk" methods

[2018-12-19 09:30] LypkoAlex opened #94 "Fail yarn audit"
Hi. When I did  ```yarn audit``` I have got an error:
<img width="562" alt="screen shot 2018-12-18 at 16 48 57" src="https://user-images.githubusercontent.com/14975592/50210386-a0337400-037e-11e9-8b41-dab69afffa19.png">

For fix it, we only to need change version of js-yaml in [package.json](https://github.com/domasx2/sequelize-fixtures/blob/master/package.json#L19) to `^3.3.5`

[2019-02-12 20:42] modestfake commented on #92
@domasx2 I've created a PR to address this issue here #97

[2019-03-04 07:30] matmar10 opened #98 "NEW MAINTAINER WANTED"
Alas, as @domasx2  has noted:

Raising this issue to start a thread for possible maintainers. My organization relies on this heavily, so I'm willing to throw my hat in the ring.

Any other volunteers / candidates?

[2019-03-13 15:58] modestfake commented on #92
Sequelize v5 is [released](https://github.com/sequelize/sequelize/releases/tag/v5.1.0). This issue is a blocker for those who want to migrate to a new version of Sequelize. @domasx2 are you able to review a PR #97?

[2019-03-13 19:46] #92 closed

[2019-03-13 19:47] modestfake commented on #92
@domasx2 Thank you!

[2019-03-13 19:51] domasx2 commented on #92
hey, sorry about the lack of attention... released 0.9.1 to npm

[2019-03-13 19:53] modestfake commented on #92
No worries, I know you're not supporting it anymore, so any attention to is much appreciated by the community! 👍

[2019-03-20 03:28] yjwong commented on #98
My company also relies on this library heavily, would be willing to help co-maintain this library.

[2019-03-26 09:44] zazoomauro commented on #98
Any update on this? I'm also interested. I'm using it quite often

[2019-04-21 12:12] matmar10 commented on #98
@domasx2 can you chime in? We have some hats thrown in the ring, here.

[2019-04-21 15:01] matmar10 opened #101 "Grunt: add support for async loading of models + use grunt built-in logging"
As a user of the `grunt` task included, I want to be able to load models async / using a promise.

Also, currently the grunt task uses a raw console.log file and does not link the internal use of `log` function with grunt's built in log mechanisms.

(PR inbound)

[2019-04-22 12:32] domasx2 commented on #98
Hey, added @matmar10  as collaborator because he has multiple PRs open :) However, please try to required unit tests for features whenever possible. Please email me npm username, will add as npm maintainer too, so you can publish new releases

[2019-04-22 14:18] matmar10 commented on #98
Thanks, @domasx2 for the quick reply to my request. Noted with thanks - now that I'm certain we'll be able to cut releases, I'm happy to invest some time adding unit test for features and such.

My npm username is the same: matmar10

[2019-04-22 14:19] matmar10 commented on #88
Fixed by #100

[2019-04-22 14:29] #98 closed

[2019-04-22 14:30] matmar10 commented on #43
Closing this since old and nothing actionable/required here.

[2019-04-22 14:30] #43 closed

[2019-04-22 14:31] matmar10 commented on #27
Closing since old. @Proxiweb advise if lib mentioned by @aleccool213 works for you, otherwise feel free to reopen and, of course, contributions welcome :-)

[2019-04-22 14:31] #27 closed

[2019-04-22 14:31] matmar10 commented on #56
Closing this since it's a general help question and old.

[2019-04-22 14:31] #56 closed

[2019-04-22 14:32] matmar10 commented on #67
Answered by @yktv4

@julestruong I have opened #100 which also disables use of setters, if that's what you need. I think between the two your issue should be solved.

[2019-04-22 14:32] #67 closed

[2019-04-22 14:34] matmar10 commented on #68
I think this has been added. I noticed this line from loader.js

[code]

Closing as I believe this is now supported. Please reopen if still an issue.

[2019-04-22 14:34] #68 closed

[2019-04-22 14:37] matmar10 commented on #71
Closing this as it's old. If still needed and you have a proposed change in behavior, please reopen and comment.

[2019-04-22 14:37] #71 closed

[2019-04-22 14:39] matmar10 commented on #73
@skinofstars you can define any custom metadata you like under any property *except* `data`, such as:
[code]

Does this help?

[2019-04-22 14:41] matmar10 commented on #80
@Sorgrum can you raise a PR with a change to the README.md you feel is appropriate? Thanks!

[2019-04-22 14:45] matmar10 commented on #82
I agree with you @bschlenk this seems like duplicated functionality. They are evaluated very close together in the code:

[code]

The `modifyFixtureDataFn` seems like it should come after setters, associations, and such are applied.

Removing this would probably be a breaking change but we could at least mark one of them for depreciation and start raising a warning when one is used. Thoughts?

[2019-04-22 14:49] matmar10 commented on #86
Hi @Kallaste - you may need to specify a field to indentify the duplicates. Please see the docs under "Detect duplicates based on select fields". you need to specify the `keys` field:

On the first will be inserted in the following example:

[code]

[2019-04-22 14:49] #86 closed

[2019-04-22 14:50] matmar10 commented on #79
I believe this is fixed. I am currently using with v4 without issues. Please reopen if still an issue.

[2019-04-22 14:50] #79 closed

[2019-04-22 14:52] matmar10 commented on #63
Already answered, please reopen if you still need help @jorbascrumps

[2019-04-22 14:52] #63 closed

[2019-04-22 15:23] jorbascrumps commented on #63
Apologies, @domasx2, I hadn't seen your response until now! Thank you for reminding me about this issue, @matmar10.

I've closed the SO question and linked to the solution here.

[2019-04-22 16:17] domasx2 commented on #98
@matmar10 added to npm maintainers as well. Thank you for picking this up :)

[2019-04-24 21:54] tloriato opened #103 "Unhandled rejection TypeError: Cannot set property '%' of undefined"
Hey! I already tried and searched everything that I could, so maybe someone can help me out?

I'm unable to populate a table with FK in the way specified below. I can do it successfully with "simple" models, so there isn't anything particularly regarding use/parameters.

I'm positive that the FK I'm trying to add exists, as it was created a promise before this call and it's possible to check into

[2019-04-28 01:28] #103 closed

[2019-05-30 21:19] m-mitchell commented on #68
I still get this error on `0.10.0`. Switching the data type to `JSONB` fixed the issue.

[2019-08-02 20:17] ninapavlich opened #106 "Add support for generating fixtures"
Forgive me if this exists already somewhere else, but what is the recommended method for generating JSON from the database that can be later imported through this tool?

If it doesn't exist already, I think it would be helpful to provide a command that is the inverse of the loadFile function, perhaps taking an array of models to include.

[2019-10-12 09:16] #101 closed

[2019-10-12 10:43] matmar10 opened #107 "Distinguish between stdout and stderr when logging"

[2019-10-13 08:43] matmar10 opened #111 "Add test coverage for grunt task"
Currently no coverage and will break without failing CI (evidence

[2019-10-17 15:14] hugodes opened #112 "TypeError: Cannot read property 'warn' of undefined"
Since the latest update I've been getting this error on the .loadFiles() method.

I call

[code]

And get the error

[code]

It seems to be linked to node_modules/sequelize-fixtures/lib/loader.js:249:29 which was changed in this commit : https://github.com/domasx2/sequelize-fixtures/commit/d8f7150ece249a42923ed4af01457bd7c55f85ea

[2019-10-17 15:18] hugodes commented on #112
@matmar10

[2019-10-18 23:11] sharryheb opened #113 "Question: Mapping JSON to Model Entity?"
Hello,

I didn't know where else to go to ask this question. :-) I have a JSON file with data in it, where the column names are like so:
propA: foo,
propB: bar,
propC: something

However, in the database, and thus the models, the column names are like so:
propD
propE
propF

Is there a way to tell sequelize-fixtures some kind of mapping to use on import/load of the data file, something like this:
p

[2019-10-24 12:17] lukas1994 commented on #112
having the same issue - did you find a work-around?

[2019-10-24 12:23] lukas1994 commented on #112
It's coming from this line: `this.logger.warn('attribute "' + key +"' not defined on  model '" + Model.name + "'.");`
My fixtures contained an attribute that I removed from the model earlier, removing them fixed it.

Would still be great to see the log message instead of this error :)

[2019-10-29 08:28] hugodes commented on #112
I made PR that fixes the issue here: #114

[2019-11-06 15:55] metsehaf opened #116 "TypeError: Cannot read property 'id' of null"
Hi I was trying to run a test where passing a parameter id to a function will give me a promise, I was using sequelize fixtures to load my test data. JobID, in this case, is a foreign key in the File model and below is the dummy data in my files.fixtures.json. I have added both job and file JSON since they have 1  to many relationships, Any help would be appreciated:

Json Data

`[
  {
    "model"

[2020-03-17 13:02] gambhirpulkit commented on #112
Can someone please merge the PR fix so that it gets updated?

[2020-04-06 08:32] slimee commented on #116
Did you find some answer?

[2020-04-27 05:03] domi-der-dude opened #118 "Dialect needs to be explicitly supplied as of v4.0.0'"
Hey guys, trying to load some fixtures as shown in the example.
Getting error `Dialect needs to be explicitly supplied as of v4.0.0'` even though i pass dialect.

`const sequelize = new Sequelize(dbname, dbuser, dbpass, {
    host: 'localhost',
    dialect: 'mysql'
});
`
Very frustrating can't figure out the problem.

Thank you

[2020-04-28 18:47] #118 closed

[2020-06-19 12:52] #112 closed

[2020-06-30 18:24] hugodes opened #119 "Missing release notes for 1.2"
Hi,

There is no release info for v1.2:

https://github.com/domasx2/sequelize-fixtures/releases

Cheers,

[2020-06-30 19:32] villasv commented on #68
Still getting `Unhandled rejection SequelizeDatabaseError: operator does not exist: json = unknown`  on 1.2

[2020-07-01 07:26] matmar10 commented on #119
@domasx2 Looks like you manually cut a release?

FYI you can run

[code]

This is already set up in the project. It will automatically take care of all steps including github release notes. Reduces a lot of boilerplate steps and makes releasing much smoother.

Take a peak at https://www.npmjs.com/package/release-it

[2020-07-01 07:36] matmar10 commented on #106
This is likely out of scope for this project, but it would be interesting of we added a small adaptor logic or CLI script that could use a peer dependency like https://www.npmjs.com/package/faker

Will close this but if you decide to work on support for integrating something like faker please re-open.

[2020-07-01 07:36] #106 closed

[2020-07-01 07:50] matmar10 commented on #119
Added. FYI @domasx2 if you still want to release manually you can run `npm run release` and follow the prompts only use it to create github release without any other steps :-)

[2020-07-01 07:50] #119 closed

[2020-07-01 07:53] matmar10 opened #122 "CI build status not appearing in Pull Request review on github"
# Steps to Reproduce

- Cut a branch
- Make a breaking change (one that breaks test suite)
- Open a PR

# Expected Behavior

Pull request shows build status as failed due to Travis CI failing

# Actual Behavior

No Travis CI build status displayed

[2020-07-01 07:54] matmar10 commented on #122
@domasx2  Any idea about this? I suspect it's some configuration setting for the repo. I don't have access to investigate or change project settings. Can you take a peak?

Raising this because I accidentally merged a PR with breaking build change since status was not displayed in PR review.

[2020-07-01 08:05] hugodes commented on #119
Thanks a lot !

[2020-07-01 12:12] domasx2 commented on #122
Hi, sure, will take a look when I have a moment

[2020-07-01 12:12] domasx2 commented on #119
wasnt aware of this, cool, thanks :)

[2020-07-01 18:30] domasx2 commented on #122
I disabled/ reenabled this proejct on Travis and seems it started reporting status again.
Not sure what the cause was though... Will consider switching to github actions if I find some time

[2020-07-05 10:57] domasx2 commented on #122
closing, seems to be fine now

[2020-07-05 10:57] #122 closed

[2020-07-21 19:44] giorgosera opened #125 "The link to official example of how to load models is not working"
Hey there,

The link in the README `https://github.com/sequelize/express-example/blob/master/models/index.js` doesn't work anymore.

I'm trying to figure out how to work with this library but it's not very clear now that the example is not there.

Thank you!

[2020-10-29 15:37] robinv85 commented on #68
Same issue here, with Postgres JSON type ```SequelizeDatabaseError: operator does not exist: json = unknown```

[2021-05-17 11:32] RaphaelTo commented on #125
Hi,
I guess my answer is too late but try this :

`
const models = {
 modelName: Model
}
`

[2022-04-05 14:27] ktwbc opened #137 "Ability to load multiple items in an array"
As an alternative to having to specify each item with Model and a single Data item, it would be easier to be able to pass multiple data items like this:

`[
  {
    "model": "User",
    "data": [
      {
        "id": "mmcfly",
        "username": "mmcfly",
        "full_name": "Marty McFly",
        "email": "mmcfly@example.com",
        "active": true,
        "roles": "user"
      },
      {

[2022-04-05 20:24] matmar10 commented on #137
Great idea! Contributions welcome :-)

[2022-04-05 20:33] matmar10 commented on #116
@metsehaf  The issue is you're specifying both `job` and `JobID` in the File model.

Should be, something like:

[code]